[Unit]
Description=SupportBoi Discord Bot
Documentation=https://github.com/KarlOfDuty/SupportBoi
After=network.target
Wants=network.target

[Service]
User=supportboi
ExecStart=/usr/bin/supportboi --config /etc/supportboi/config.yml --transcripts /var/lib/supportboi/transcripts --log-file /var/log/supportboi/supportboi.log
Restart=no
Type=exec

[Install]
WantedBy=multi-user.target
